~/source/WProduct/TestAppConsole/bin/*
~/source/WProduct/TestAppConsole/obj/*
~/source/WProduct/WPAZV/bin/*
~/source/WProduct/WPAZV/obj/*
~/source/WProduct/WPBasic/bin/*
~/source/WProduct/WPBasic/obj/*
